
openapi: 3.0.3
info:
  title: Pull signal Service API
  description: Exposes the API for Signal-hub pull service
  version: '1.0'
  contact:
    name: API Support
    url: https://github.com/pagopa/pdnd-interop-frontend/issues
  termsOfService: https://selfcare.interop.pagopa.it/ui/it/termini-di-servizio
servers:
  - url: https://api.signalhub.interop.pagopa.it/1.0/pull
    description: Pull signal production environment URL
paths:
  /status:
    get:
      description: Should return OK
      summary: Health status endpoint
      operationId: getStatus
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: string
                enum:
                  - OK
  /signals/{eserviceId}:
    get:
      description: Retrieve a list o signals on a specific eservice starting from signalId
      summary: Get a list of signals
      operationId: pullSignal
      parameters:
        - schema:
            type: string
          required: true
          name: eserviceId
          in: path
        - schema:
            type: number
            nullable: true
            minimum: 0
            default: 0
          required: false
          name: signalId
          in: query
        - schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
          required: false
          name: size
          in: query
        - name: Authorization
          in: header
          description: >-
            JWT token obtained from <a target="blank"
            href="https://italia.github.io/eid-wallet-it-docs/v1.0.0/en/e-service-pdnd.html#voucher-issuance">PDND
            Interoperabilità</a>. Based on the implementation choices, it can be either Bearer or DPoP.<br/><br/><a target="blank"
            href="https://jwt.io/#debugger-io?token=eyJhbGciOiJFUzI1NiIsImtpZCI6ImI4MzlmNGM3LTFlNWQtNGE4YS05ZmM2LTcyZDNiN2YwOTFlYyIsInR5cCI6ImF0K2p3dCJ9.eyJhdWQiOiJodHRwczovL2lzc3Vlci5leGFtcGxlLml0Iiwic3ViIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwibmJmIjoxNzM2ODQ2Njg4LCJwdXJwb3NlSWQiOiI1NzBhNDE1ZS0wZTdmLTQxMGQtODVlZC1jNTVlYTU1Mzc5MzIiLCJpc3MiOiJ1YXQuaW50ZXJvcC5wYWdvcGEuaXQiLCJleHAiOjE3MzY4NDY5MjgsImlhdCI6MTczNjg0NjY4OCwiY2xpZW50X2lkIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwianRpIjoiOGI5NzFiNDMtZTk5MC00NGZhLTkwMTMtMWIzNTNiZmM1YTBmIiwiZGlnZXN0Ijp7ImFsZyI6IlNIQTI1NiIsInZhbHVlIjoiMzM2YjYyY2FlZTc0YWFjMzUyOTM1MmJiM2I1ODM5NWFhYzU4MGRjNzYyMDE0Mzc3ZTRmNjdlODY5YWUzNzM4OSJ9LCJjbmYiOnsiamt0IjoiZjgyMTc2MDY2ZWIzOGZkMzM4MGQyZDNkMzRkZWI1ODkwZTY4NWVlOGU5ZTE1YTdlYjg0ODcyYTZmYWMzNDA2MyJ9fQ.y42yfMeW2H9h0b0j0BODUml8yF20stY9q3BwoVU5BB90afBj852Q0QlInncdhjXhUjLS1V76cGBxkutDNvxRNA">EXAMPLE
            ON JWT.IO</a>
          required: true
          schema:
            type: string
            format: Signed JWT
            example: >-
              DPoP
              eyJhbGciOiJFUzI1NiIsImtpZCI6ImI4MzlmNGM3LTFlNWQtNGE4YS05ZmM2LTcyZDNiN2YwOTFlYyIsInR5cCI6ImF0K2p3dCJ9.eyJhdWQiOiJodHRwczovL2lzc3Vlci5leGFtcGxlLml0Iiwic3ViIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwibmJmIjoxNzM2ODQ2Njg4LCJwdXJwb3NlSWQiOiI1NzBhNDE1ZS0wZTdmLTQxMGQtODVlZC1jNTVlYTU1Mzc5MzIiLCJpc3MiOiJ1YXQuaW50ZXJvcC5wYWdvcGEuaXQiLCJleHAiOjE3MzY4NDY5MjgsImlhdCI6MTczNjg0NjY4OCwiY2xpZW50X2lkIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwianRpIjoiOGI5NzFiNDMtZTk5MC00NGZhLTkwMTMtMWIzNTNiZmM1YTBmIiwiZGlnZXN0Ijp7ImFsZyI6IlNIQTI1NiIsInZhbHVlIjoiMzM2YjYyY2FlZTc0YWFjMzUyOTM1MmJiM2I1ODM5NWFhYzU4MGRjNzYyMDE0Mzc3ZTRmNjdlODY5YWUzNzM4OSJ9LCJjbmYiOnsiamt0IjoiZjgyMTc2MDY2ZWIzOGZkMzM4MGQyZDNkMzRkZWI1ODkwZTY4NWVlOGU5ZTE1YTdlYjg0ODcyYTZmYWMzNDA2MyJ9fQ.y42yfMeW2H9h0b0j0BODUml8yF20stY9q3BwoVU5BB90afBj852Q0QlInncdhjXhUjLS1V76cGBxkutDNvxRNA
        - name: DPoP
          in: header
          description: >-
            DPoP proof JWT, to comply with the REST_JWS_2021_POP security
            pattern using the POP_DPoP implementation. See also <a target="blank"
            href="https://datatracker.ietf.org/doc/html/rfc9449.html">RFC
            9449</a>.<br/><br/>

            <a target="blank" href="https://jwt.io/#debugger-io?token=eyJ0eXAiOiJkcG9wK2p3dCIsImFsZyI6IkVTMjU2IiwiandrIjp7Imt0eSI6IkVDIiwia2V5X29wcyI6WyJzaWduIl0sImtpZCI6ImRGVTNNRDI4REpfamZzZmloUHZpMm8tQ3RqTEVVejNwT0lWMEJkTk1mZjgiLCJjcnYiOiJQLTI1NiIsIngiOiJodXlYSVFOdjkwMm9Mc3BYNF96b25DOTRHNnlFbG42bHNkbS0xd003MzJvIiwieSI6Ikk5UERFYXdXSHFhRkRHeDFaa05rLTJQVjZXZHBjYUgzQWZPYkJTTGloZ3cifX0.eyJqdGkiOiItQndDM0VTYzZhY2MybFRjIiwiaHRtIjoiUE9TVCIsImF0aCI6ImNiZGJmNmZlZWY0ODA2MjI4ZGJmNDY0Yjc1MGE5NGMyOGQ4ZTUzMDFhNzE1ZmZjM2U2Y2QyZjk0YjZlOGUxNTQiLCJodHUiOiJodHRwczovL3NlcnZlci5leGFtcGxlLmNvbS90b2tlbiIsImlhdCI6MTc2MjI2MjYxNn0.uL017GdfXzJ-9jhs6AUpwtkWLgyBgDWOtlrFvMltLp0C0NFwwMpOGnv-FxxwfYdJj--cteyCjGnmJZhekEKIEA">EXAMPLE
            ON JWT.IO</a>
          required: false
          schema:
            type: string
            format: JWT
            example: >-
              eyJ0eXAiOiJkcG9wK2p3dCIsImFsZyI6IkVTMjU2IiwiandrIjp7Imt0eSI6IkVDIiwia2V5X29wcyI6WyJzaWduIl0sImtpZCI6ImRGVTNNRDI4REpfamZzZmloUHZpMm8tQ3RqTEVVejNwT0lWMEJkTk1mZjgiLCJjcnYiOiJQLTI1NiIsIngiOiJodXlYSVFOdjkwMm9Mc3BYNF96b25DOTRHNnlFbG42bHNkbS0xd003MzJvIiwieSI6Ikk5UERFYXdXSHFhRkRHeDFaa05rLTJQVjZXZHBjYUgzQWZPYkJTTGloZ3cifX0.eyJqdGkiOiItQndDM0VTYzZhY2MybFRjIiwiaHRtIjoiUE9TVCIsImF0aCI6ImNiZGJmNmZlZWY0ODA2MjI4ZGJmNDY0Yjc1MGE5NGMyOGQ4ZTUzMDFhNzE1ZmZjM2U2Y2QyZjk0YjZlOGUxNTQiLCJodHUiOiJodHRwczovL3NlcnZlci5leGFtcGxlLmNvbS90b2tlbiIsImlhdCI6MTc2MjI2MjYxNn0.uL017GdfXzJ-9jhs6AUpwtkWLgyBgDWOtlrFvMltLp0C0NFwwMpOGnv-FxxwfYdJj--cteyCjGnmJZhekEKIEA
        - name: Agid-JWT-Signature
          in: header
          description: >-
            JWT containing the signature of the message headers whose integrity
            needs to be guaranteed, to comply with the INTEGRITY_REST_02
            security pattern. <a target="blank"
            href="https://italia.github.io/eid-wallet-it-docs/v1.0.0/en/e-service-pdnd.html">e-Service PDND</a>. <br/><br/>

            <a target="blank" href="https://jwt.io/#debugger-io?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6ImY3YjI1NDhjYTZjYjM4NzY2YTU5NTFiYiJ9.eyJhdWQiOiJodHRwczovL2lzc3Vlci5leGFtcGxlLml0Iiwic3ViIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwibmJmIjoxNzM2ODQ2Njg4LCJwdXJwb3NlSWQiOiI1NzBhNDE1ZS0wZTdmLTQxMGQtODVlZC1jNTVlYTU1Mzc5MzIiLCJpc3MiOiIzMTY3MDA5Mi1lZWMwLTRmOTUtODhkYS1lMWM3Y2U1ZTQ1MDUiLCJleHAiOjE3MzY4NDY5MjgsImlhdCI6MTczNjg0NjY4OCwiY2xpZW50X2lkIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwianRpIjoiOGI5NzFiNDMtZTk5MC00NGZhLTkwMTMtMWIzNTNiZmM1YTBkIiwic2lnbmVkX2hlYWRlcnMiOnsiZGlnZXN0IjoiU0hBLTI1Nj05ZGRkYTA4NmEzYjkwMjc1MDhhOTcxZjE2ZTBjNDRhYTJjOWQ4ZDkxMzM0ZjJkNGFlZGQxY2Q2YTBhMmFkM2E4IiwiY29udGVudC10eXBlIjoiYXBwbGljYXRpb24vanNvbiJ9fQ.0zncFKgLgIAhcX7aTIjC44NWYBiQKM4ZmdHfBqZ0O-W38NkBanT1tz9Z7Z0OBqQqDNsehJQa4IKNzbTjAhoccA">EXAMPLE
            ON JWT.IO</a>
          required: true
          schema:
            type: string
            format: JWT
            example: eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6ImY3YjI1NDhjYTZjYjM4NzY2YTU5NTFiYiJ9.eyJhdWQiOiJodHRwczovL2lzc3Vlci5leGFtcGxlLml0Iiwic3ViIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwibmJmIjoxNzM2ODQ2Njg4LCJwdXJwb3NlSWQiOiI1NzBhNDE1ZS0wZTdmLTQxMGQtODVlZC1jNTVlYTU1Mzc5MzIiLCJpc3MiOiIzMTY3MDA5Mi1lZWMwLTRmOTUtODhkYS1lMWM3Y2U1ZTQ1MDUiLCJleHAiOjE3MzY4NDY5MjgsImlhdCI6MTczNjg0NjY4OCwiY2xpZW50X2lkIjoiMzE2NzAwOTItZWVjMC00Zjk1LTg4ZGEtZTFjN2NlNWU0NTA1IiwianRpIjoiOGI5NzFiNDMtZTk5MC00NGZhLTkwMTMtMWIzNTNiZmM1YTBkIiwic2lnbmVkX2hlYWRlcnMiOnsiZGlnZXN0IjoiU0hBLTI1Nj05ZGRkYTA4NmEzYjkwMjc1MDhhOTcxZjE2ZTBjNDRhYTJjOWQ4ZDkxMzM0ZjJkNGFlZGQxY2Q2YTBhMmFkM2E4IiwiY29udGVudC10eXBlIjoiYXBwbGljYXRpb24vanNvbiJ9fQ.0zncFKgLgIAhcX7aTIjC44NWYBiQKM4ZmdHfBqZ0O-W38NkBanT1tz9Z7Z0OBqQqDNsehJQa4IKNzbTjAhoccA
        - name: Digest
          in: header
          description: >-
            Digest of the message payload, to comply with the INTEGRITY_REST_02
            security pattern. According to <a target="blank" href="https://www.rfc-editor.org/rfc/rfc3230.html#section-4.2">RFC
            3230 §4.2</a>, the format MUST be the following: digest-algorithm=encoded
            digest output.
          required: true
          schema:
            type: string
            example: SHA-256=9ddda086a3b9027508a971f16e0c44aa2c9d8d91334f2d4aedd1cd6a0a2ad3a8
        - name: Agid-JWT-TrackingEvidence
          in: header
          description: >-
             If the Voucher type is Bearer, this header represents a JWT acting as a proof of possession, to comply with the REST_JWS_2021_POP security
             pattern using the POP_TPoP implementation. Otherwise, it is a JWT containing the data tracked in the Consumer's domain, to comply with AUDIT_REST_02 (see <a target="blank"
             href="https://italia.github.io/eid-wallet-it-docs/v1.0.0/en/e-service-pdnd.html">e-Service PDND</a>). <br/><br/>
             <a target="blank" href="https://jwt.io/#debugger-io?token=eyJhbGciOiJFUzI1NiIsImtpZCI6ImQ0YzNiMmExLTk4NzYtNTQzMi0xMGZlLWRjYmE5ODc2NTQzMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI4MjkxNGIzZi02MGIyLTQ1MjktYjRkNi0zZDRlNjdmMGE5MzMiLCJhdWQiOiJodHRwczovL2lzc3Vlci5leGFtcGxlLml0IiwiZXhwIjoxNzMzMDUyNjAwLCJuYmYiOjE3MzMwMzY0NTAsImlhdCI6MTczMzAzNjQwMCwianRpIjoiYTRiNWM2ZDctZThmOS1hYmNkLWVmMTItMzQ1Njc4OTAxMjM0IiwiZG5vbmNlIjo2NTI4NDI0MjEzNjg1LCJwdXJwb3NlSWQiOiJiMmMzZDRlNS1mNmc3LWg4aTktajBrMS1sbW5vMTIzNDU2NzgiLCJ1c2VySUQiOiJhOGI3YzZkNS1lNGYzLWcyaDEtaTlqMC1rbG1ub3BxcnN0dXYiLCJsb2EiOiJzdWJzdGFudGlhbCJ9.y42yfMeW2H9h0b0j0BODUml8yF20stY9q3BwoVU5BB90afBj852Q0QlInncdhjXhUjLS1V76cGBxkutDNvxRNA">EXAMPLE ON JWT.IO</a>
          required: false
          schema:
            type: string
            format: JWT
            example: eyJhbGciOiJFUzI1NiIsImtpZCI6ImQ0YzNiMmExLTk4NzYtNTQzMi0xMGZlLWRjYmE5ODc2NTQzMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI4MjkxNGIzZi02MGIyLTQ1MjktYjRkNi0zZDRlNjdmMGE5MzMiLCJhdWQiOiJodHRwczovL2F1dGhlbnRpYy1zb3VyY2UuZXhhbXBsZS5pdCIsImV4cCI6MTczMzA1MjYwMCwibmJmIjoxNzMzMDM2NDUwLCJpYXQiOjE3MzMwMzY0MDAsImp0aSI6ImE0YjVjNmQ3LWU4ZjktYWJjZC1lZjEyLTM0NTY3ODkwMTIzNCIsImRub25jZSI6NjUyODQyNDIxMzY4NSwicHVycG9zZUlkIjoiYjJjM2Q0ZTUtZjZnNy1oOGk5LWowazEtbG1ubzEyMzQ1Njc4IiwidXNlcklEIjoiYThiN2M2ZDUtZTRmMy1nMmgxLWk5ajAta2xtbm9wcXJzdHV2IiwibG9hIjoic3Vic3RhbnRpYWwifQ.y42yfMeW2H9h0b0j0BODUml8yF20stY9q3BwoVU5BB90afBj852Q0QlInncdhjXhUjLS1V76cGBxkutDNvxRNA
      responses:
        '200':
          description: '200'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalPullResponse'
        '206':
          description: '206'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalPullResponse'
        '400':
          description: '400'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '401':
          description: '401'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '403':
          description: '403'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '429':
          description: '429'
          headers:
            X-Rate-Limit-Limit:
              schema:
                type: integer
              description: Max allowed requests within time interval
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining requests within time interval
            X-Rate-Limit-Interval:
              schema:
                type: integer
              description: >-
                Time interval in milliseconds. Allowed requests will be
                constantly replenished during the interval. At the end of the
                interval the max allowed requests will be available
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time at which the rate limit resets, specified in UTC epoch time
            Retry-After:
              schema:
                type: integer
              description: How long time to wait before making a new request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        '500':
          description: '500'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        A bearer token in the format of a JWS and conformed to the
        specifications included in
        [RFC8725](https://tools.ietf.org/html/RFC8725).
  schemas:
    signalType:
      type: string
      enum:
        - CREATE
        - UPDATE
        - DELETE
        - SEEDUPDATE
    SignalPullResponse:
      type: object
      properties:
        signals:
          type: array
          items:
            type: object
            properties:
              signalType:
                $ref: '#/components/schemas/signalType'
              objectId:
                type: string
              eserviceId:
                type: string
              signalId:
                type: number
              objectType:
                type: string
            required:
              - signalType
              - objectId
              - eserviceId
              - signalId
              - objectType
        lastSignalId:
          type: number
          nullable: true
      required:
        - signals
    problem:
      type: object
      properties:
        type:
          type: string
        status:
          type: number
        title:
          type: string
        correlationId:
          type: string
          nullable: true
        detail:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              detail:
                type: string
            required:
              - code
              - detail
      required:
        - type
        - status
        - title
        - detail
        - errors
  parameters: {}
